        <div id="fb-root"></div>
        <div id="demo"></div>
        <img id="image" src="" />
 <script src="https://connect.facebook.net/en_US/all.js"></script>

        <script>
        window.fbAsyncInit = function() {
                FB.init({
                appId: '1977610922495655',
                status: true,
                cookie: true,
                xfbml: true
            });
        };

        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        function login() {
            FB.login(function(response) {

            // handle the response
            console.log("Response goes here!");
			var accessToken = response.authResponse.accessToken;
			console.log(accessToken);
			auth(accessToken);
            }, {scope: 'email, user_friends'});
        }

        function logout() {
            FB.logout(function(response) {
              // user is now logged out
            });
        }


        function auth(token) {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    document.getElementById("demo").innerHTML = this.responseText;
                    var id = JSON.parse(this.responseText).id;
                    document.getElementById("image").src = "http://graph.facebook.com/"+id+"/picture?type=square";
                }
            };
            xhttp.open("POST", "/auth", true);
            xhttp.setRequestHeader("Content-Type", "application/json");
            xhttp.send(JSON.stringify({authToken:token}));
        }


        var status = FB.getLoginStatus();

        console.log(status);

        </script>

        <button onclick="javascript:login();">Login Facebook</button>

        <br>

        <button onclick="javascript:logout();">Logout from Facebook</button>